* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #0056fb;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 10fr;
      grid-template-rows: 2fr 10fr;
  padding: 0 8em;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

nav ul {
  list-style-type: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

nav ul li {
  border: 2px solid #0056fb;
  color: #0056fb;
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: 500;
  display: none;
}

#logo {
  font-size: 1.3rem;
  color: #0056fb;
  font-weight: 900;
}

.formArea {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
}

.formArea .formTip {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.473);
}

#formHeading {
  font-size: 3em;
}

#signupErrorsSection, #loginErrorsSection {
  padding: 20px 0;
}

#signupErrorsSection li, #loginErrorsSection li {
  display: inline-block;
  list-style: none;
  background: #ec537d;
  color: white;
  font-size: 0.9rem;
  padding: 15px;
  margin: 10px 10px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.fieldWrapper {
  margin-bottom: 25px;
  position: relative;
}

.fieldWrapper:first-child {
  margin-top: 30px;
}

.fieldWrapper .fieldTip {
  margin-top: 10px;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.473);
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.fieldWrapper input {
  border: 2px solid rgba(0, 0, 0, 0.199);
  width: 100%;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 8px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.fieldWrapper input:focus {
  border: 2px solid #0056fb;
}

.fieldWrapper input:focus + label {
  color: #0056fb;
}

.fieldWrapper input:focus ~ .fieldTip {
  opacity: 1;
}

.fieldWrapper input:not(:placeholder-shown):valid {
  border: 2px solid #00fb9b;
  color: #00fb92;
}

.fieldWrapper input:not(:placeholder-shown):valid + label {
  color: #00fb9b;
  font-size: 12px;
}

.fieldWrapper input:not(:placeholder-shown) + label {
  font-size: 15px;
  top: 0px;
  left: 15px;
  background: white;
  padding: 0 10px;
}

.fieldWrapper label {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.473);
  font-weight: 500;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  pointer-events: none;
}

.formInline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 50px;
}

.formInline .fieldWrapper {
  margin-top: 0;
  width: 100%;
}

#signupBtn, #loginBtn {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background: #0056fb;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
}

.successMsg {
  width: 100%;
  background: white;
  position: absolute;
  top: 20%;
  bottom: 20%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: calc(1.2*1.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.successMsg.visible {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
}

.wrapper.loginform {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.login .wrapper.signupform {
  visibility: hidden;
  opacity: 0;
}

.login .wrapper.loginform {
  visibility: visible;
  opacity: 1;
}

.right {
  display: -ms-grid;
  display: grid;
  height: 100%;
  overflow: hidden;
}

.right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */